.home_main_block{
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_sub_block{
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.home_sub_block_banner{
    width: 70%;
    height: 60%;
}
.home_sub_block_banner img {
    animation: slideUpDown 2s ease-in-out infinite alternate;
}

@keyframes slideUpDown {
    0% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(2%);
    }
}


.home_sub_block_content{
    width: auto;
    height: 25%;
    text-align: center;
}
.home_sub_block_content h3{
    font-size: 48px;
    font-weight: 300;
    color: #485675;
    font-family: var(--font-secondary);
    letter-spacing: 2px;
    margin-top: 20px;
}
.home_sub_block_content h3 span{
    color: #0ea2bd;  
}
.home_sub_block_content p{
    color:  #485675;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.9px;
    padding-top: 10px;
}
.content_btn{
    width: 17%;
    height: 42px;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #0ea2bd;
    font-size: 17px;
}