* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:  'Source Sans Pro', sans-serif; */
  font-family: "Poppins", sans-serif;
}
.header_main_block {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 1500;
}
.header_sub_block {
  width: 99%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_sub_block_logo {
  width: 12%;
  height: 100%;
  font-size: 30px;    
  letter-spacing: 1.5px;
  color: rgb(91, 90, 90);
  display: flex;
  align-items: center;
}
.header_sub_block_logo  h3{
  font-weight: 100;
}
.header_sub_block_navbar {
  width: 65%;
  height: 100%;
}
.nav_links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: rgb(114, 113, 113);
  letter-spacing: 0.9px;
}
.nav_links li {
  cursor: pointer;
}
.nav_links li:hover {
  border-bottom: 3px solid rgb(5, 157, 157);
  padding-top: 23px;
  width: auto;
  height: 100%;
}

.header_sub_block_button {
  width: 10%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_sub_block_button button {
  width: 100%;
  height: 100%;
  background-color: #0ea2bd;
  color: rgba(253, 253, 253, 0.825);
  font-weight: 600;
  letter-spacing: 1.1px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}
